@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

svg {
  position: absolute;
  width: 300px;
  z-index: 99;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 25%);
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#block {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  filter: contrast(35);
}

.circle {
  border-radius: 50%;
}

.blurred {
  filter: blur(15px);
}

.blob {
  background-color: red;
}

.central {
  margin: 0 auto;
}

.big {
  background-color: red;
  width: 400px;
  height: 400px;
}

.small {
  position: absolute;
  display: block;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  animation: move 4s ease-in infinite;
}

.blob-1 {
  height: 40px;
  width: 40px;
  animation-delay: 0s;
}

.blob-2 {
  height: 38px;
  width: 38px;
  left:55%;
  animation-delay: 3s;
}

.blob-3 {
  height: 39px;
  width: 39px;
  left:40%;
  animation-delay: 2s;
}

.blob-4 {
  height: 30px;
  width: 30px;
  left:30%;
  animation-delay: 4s;
}

.blob-5 {
  height: 30px;
  width: 30px;
  left:70%;
  animation-delay: 2s;
}

@keyframes move {
  to {
    transform: translateY(1000px);
  }
}
